/*LIGHT-THEME*/
body {
    color: #000000;
    background-color: #ffffff;
}

.header {
    color: #000000;
    background-color: #ffffff;
    box-shadow: 0 2px 4px 0 rgba(208, 208, 208, 0.5);
}

.button.button-primary-start,
button.button-primary-start {
  color: #FFF;
  background-color: #7DA3DA;
  border-color: #7DA3DA; }
.button.button-primary-start:hover,
button.button-primary-start:hover {
  color: #FFF;
  background-color: #61A2E2;
  border-color: #61A2E2; }

.button.button-primary-join,
button.button-primary-join {
  color: #FFF;
  background-color: #3E5FA0;
  border-color: #3E5FA0; }
.button.button-primary-join:hover,
button.button-primary-join:hover {
  color: #FFF;
  background-color: #274B91;
  border-color: #274B91; }

.button.button-primary-negative,
button.button-primary-negative {
  color: #FFF;
  background-color: #d80032;
  border-color: #d80032; }
.button.button-primary-negative:hover,
button.button-primary-negative:hover {
  color: #FFF;
  background-color: #cc0030;
  border-color: #cc0030; }

.button.button-primary-positive,
button.button-primary-positive {
  color: #FFF;
  background-color: #8dcb1a;
  border-color: #8dcb1a; }
.button.button-primary-positive:hover,
button.button-primary-positive:hover {
  color: #FFF;
  background-color: #7eb517;
  border-color: #7eb517; }

input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
    background-color: #ffffff;
    border-color: #D1D1D1;
    color: #000000;
}

input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
  background-color: #ffffff;
  color: #000000; 
}

.banner-red {
    color: #ff0000;
    text-align: center;
}

.banner-visible {
    color: #000000;
    transition: 3s;
}

.banner-invisible {
    color: #ffffff;
    visibility: hidden;
}

.copyicon {
  filter: invert(0%) sepia(100%) saturate(21%) hue-rotate(2deg) brightness(101%) contrast(107%);
}

.reloadicon {
    filter: invert(99%) sepia(13%) saturate(2%) hue-rotate(295deg) brightness(112%) contrast(100%);
}