/*LIGHT-THEME*/
body {
    color: #000000;
    background-color: #ffffff;
}

.header {
    color: #000000;
    background-color: #ffffff;
    box-shadow: 0 2px 4px 0 rgba(208, 208, 208, 0.5);
}

.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"],
.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary,
.button.button-primary-start,
button.button-primary-start,
input[type="submit"].button-primary-start,
input[type="reset"].button-primary-start,
input[type="button"].button-primary-start,
.button.button-primary-join,
button.button-primary-join,
input[type="submit"].button-primary-join,
input[type="reset"].button-primary-join,
input[type="button"].button-primary-join,
.button.button-primary-negative,
button.button-primary-negative,
input[type="submit"].button-primary-negative,
input[type="reset"].button-primary-negative,
input[type="button"].button-primary-negative,
.button.button-primary-positive,
button.button-primary-positive,
input[type="submit"].button-primary-positive,
input[type="reset"].button-primary-positive,
input[type="button"].button-primary-positive {
    opacity: 1;
}