/*LIGHT-THEME*/

:root {
  --background: #fefffe;/*#fefffe #f6f8fa #ffffff*/
  --fontcolor: #222222;
}

body {
    color: var(--fontcolor);
    background-color: var(--background);
}

.header {
    color: var(--fontcolor);
    background-color: var(--background);
    box-shadow: 0 2px 4px 0 rgba(208, 208, 208, 0.5);
}

.button.button-primary-start,
button.button-primary-start {
  color: var(--background);
  background-color: #7DA3DA;
  border-color: #7DA3DA; }
.button.button-primary-start:hover,
button.button-primary-start:hover {
  color: var(--background);
  background-color: #61A2E2;
  border-color: #61A2E2; }

.button.button-primary-join,
button.button-primary-join {
  color: var(--background);
  background-color: #3E5FA0;
  border-color: #3E5FA0; }
.button.button-primary-join:hover,
button.button-primary-join:hover {
  color: var(--background);
  background-color: #274B91;
  border-color: #274B91; }

.button.button-primary-negative,
button.button-primary-negative {
  color: var(--background);
  background-color: #d80032;
  border-color: #d80032; }
.button.button-primary-negative:hover,
button.button-primary-negative:hover {
  color: var(--background);
  background-color: #cc0030;
  border-color: #cc0030; }

.button.button-primary-positive,
button.button-primary-positive {
  color: var(--background);
  background-color: #8dcb1a;
  border-color: #8dcb1a; }
.button.button-primary-positive:hover,
button.button-primary-positive:hover {
  color: var(--background);
  background-color: #7eb517;
  border-color: #7eb517; }

input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
    background-color: var(--background);
    color: var(--fontcolor);
    border-color: #D1D1D1;
}

input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
  background-color: var(--background);
  color: var(--fontcolor); 
}

.copyicon {
  filter: invert(0%) sepia(100%) saturate(21%) hue-rotate(2deg) brightness(101%) contrast(107%);
}

.reloadicon {
    filter: invert(99%) sepia(13%) saturate(2%) hue-rotate(295deg) brightness(112%) contrast(100%);
}

.modal {
  box-shadow: 2px 2px 4px 2px rgba(208, 208, 208, 0.5);
  background-color: #ffffff;
}